<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Most days Brian is an automation engineer at J.Crew.</p>
                </div>
                <div class="col-lg-4">
                    <p>Off hours he enjoys reading and searching for the perfect plate of french toast.</p>
                </div>
            </div>
        </div>
    </section>
